:root {
  --yellow: #e82cf5;
  --orange: #9d1b97;
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #f9e9e9;
  --cardColor: #f1dfd6c2;
  --buttonBg: linear-gradient(98.63deg, #e41149 0%, #9915d6fe 100%);
  --inputColor: rgb(255, 255, 255);
  --photo: #4cb256;
  --video: #4a4eb7;
  --location: #ef5757;
  --schedule: #8419b6;
  --white: #ffffff;
}

.app {
  overflow: hidden;
  color: var(--black);
  background: #f3f3f3;
  padding: 1rem 1rem;
}
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #a6ddf0;
  filter: blur(72px);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  background: var(--buttonBg);
  transition: all 100ms ease-out;
  font-weight: 700;
}
.button:hover {
  cursor: pointer;
  color: var(--orange);
  background: transparent;
  border: 2px solid var(--orange);
}

::-webkit-scrollbar {
  display: none;
}

.router-link {
  text-decoration: none;
}
.logo-icon {
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  cursor: pointer;
}
