.followersCard {
  width: 100%;
  border-radius: 0.7rem;
  font-size: 13px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.fc-title {
  font-weight: 700;
  color: var(--black);
  font-size: 14px;
  align-self: center;
}
.followers {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.folowers > div {
  display: flex;
  gap: 10px;
}
.followerImg {
  width: 3.2rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.name > span:nth-of-type(1) {
  font-weight: bold;
}
.fc-button {
  height: 2rem;
  padding: 0px 20px 0px 20px;
}
